.lesson {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
  }
  .title {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    
/* comment  */

  }
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

  .header{
  background-color: #555;
  padding: 10px 16px;
  color: #f1f1f1;
  }  

      .content{
        padding: 16px;
      }
    
      div {
        display: block;
      }
      .sticky{
        position: fixed;
        top: 0;
        width: 100%;
      }
    
      .sticky +.content{
        padding-top: 102px;
      }


  img{
    width: 200px;
    height: 200px;
    background-color: darkgray;
    margin: 18px;
    padding:10px ;
    border: 9px;
  }
  #email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
  }
  